@import "colors";

.agreement-selector {
    margin-bottom: 1em;

    .agreement-selector-labels {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        label {
            font-size: .75em;
            line-height: 1.25em;
            color: $gray;
            font-weight: 300;
            text-transform: uppercase;
        }

        .argument-selector-label-disagree {
            text-align: left;
        }
        
        .argument-selector-label-agree {
            text-align: right;
        }
    }
}