@import 'colors';

* {
  box-sizing: border-box;
}

body {
  margin-top: 64px;
  background: $lightBlue;
  background-image: url("/dist/images/background.png");
}

.flex-container {
  width: 100%;
  padding: 0 1em;
}
