@import 'colors';

* {
    box-sizing: border-box;
}

body {
    margin-top: 64px;
    color: $darkerGray;
    background: $lighterGray;
}

.container {
    max-width: 720px;
    width: 100%;
    padding: 0 1em;
}

.flex-container {
    width: 100%;
    padding: 0 1em;
}

.app-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 .25em;
}
