@import 'colors';

button, .button {
    background: $white;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 2em;

    &.large {
        font-size: 1.5em;
    }

    &.primary {
        background: $blue;
        color: $white;
        border-color: darken($blue, 10);
    }

}