@import 'colors';

.card {
    background: #ffffff;
    border: 2px solid $lightGray;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: height 2s;

    .container {
        width: 100%;
    }

    .card-title {
        height: 3em;
        padding: 0 1.25rem;
        margin-bottom: -1.25rem;

        h2 {
            font-size: 1.5em;
            line-height: 2em;
            margin-bottom: 0;
        }
    }

    .card-body {
        padding: 1.25rem
    }

    .card-actions {
        margin-top: -1.25rem;
        padding: 1.25rem;
        padding-top: 0;
        margin: 0 -.25em;

        & > * {
            margin: 0 .25em;
        }

        button {
            margin-bottom: 0;
        }
    }
}