$lightBlue: #D8E9F0;
$darkBlue: #33425B;
$black: #29252C;
$white: #FDFDFD;
$gray: #A8A8A8;
$lightGray: #E1E1E1;
$darkGray: #666666;
$darkerGray: #333333;

$blue: #D9EDF7;
$green: #84ba71;
$yellow: #e0cc47;
$orange: #e89f31;
$red: #F33535;
