$red: #F33535;
$lightBlue: #D8E9F0;
$darkBlue: #33425B;
$black: #29252C;
$white: #FDFDFD;
$lightGray: #efefef;
$gray: #999999;
$darkGray: #777777;

// threshold colors
$green: #84ba71;
$yellow: #e0cc47;
$orange: #e89f31;
