@import 'colors';

.app-header {
  background: $white;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 8px 0;

    .app-profile {
      line-height: 42px;
      text-align: right;
    }

}

.app-logo {
  margin: 0px;
  margin-right: -6px;
  display: inline-block;

  i, a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }

  img {
    height: 36px;
    display: block;
  }

  h1 {
    font-size: 1.5em;
    line-height: 36px;
    color: $black;
  }
}
