@import 'colors';

.app-header {
  background: $white;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;

  .app-profile {
    line-height: 42px;
    text-align: right;
  }

}

.app-logo {
  margin: 0 0 0 -6px;
  display: inline-block;

  i, a {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    height: 36px;
    display: block;
  }

}
