.loading-indicator {
    .icon {
        animation-name: rotate; 
        animation-duration: 3s; 
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}