@import 'colors';

.candidate-display {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-width: 42%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
}

.circle {
  float: left;
  color: $darkGray;
  font-size: 1.7em;
  line-height: 1.7em;
  text-align: center;
  padding-left: 0.3em;
  padding-top: 1em;
  height: 3.8em;
  width: 3.8em;
  border: 1px solid $darkGray;
  border-radius: 50%;
  background-color: #FFF;
}

.candidate-image {
  position: relative;
  height: 6em;
  width: 6em;
  margin-right: -1em;
  z-index: 2;
}

.candidate-rating {
  position: relative;
  margin-bottom: 0;
  margin-top: 15%;
  z-index: 3;
}

.match-info {
  display: inline-block;
  margin-left: 2%;
  vertical-align: middle;
  margin-bottom: 1em;
}

.candidate-name {
  color: $darkGray;
  font-size: 1.7em;
  display: block;
  margin: 0;
  padding: 0;
}

.candidate-party {
  color: $darkGray;
  font-size: 1.4em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  padding: 0;
}
