@import 'colors';

.survey-card {
    text-align: center;
    padding: 3em 2em 1em 2em;

    &:nth-of-type(2) {
        position: absolute;
        z-index: -1;
        width: 98%;
        left: 1%;
        top: 1%;
    }

    &:nth-of-type(3) {
        position: absolute;
        z-index: -2;
        width: 96%;
        left: 2%;
        top: 2%;
    }

    .hearts {
      color: $darkGray;
    }

    .question-text {
        margin: 1.25em 0;
        padding: 0 1em;
        font-size: 1em;
        line-height: 1.25em;
        color: $darkGray;
    }

    .survey-card-buttons {
        button {
            display: block;
            width: 66%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 768px) {
        .question-text {
            font-size: 1.25em;
        }
    }
}
