@import 'colors';

.survey-card {
    text-align: center;

    &:nth-of-type(2) {
        position: absolute;
        z-index: -1;
        width: 98%;
        left: 1%;
        top: 1%;
    }

    &:nth-of-type(3) {
        position: absolute;
        z-index: -2;
        width: 96%;
        left: 2%;
        top: 2%;
    }

    // Rating Component (Hearts Styling)

    .hearts {
      color: $red;
    }

}
