@import 'colors';

.text-field {
    text-align: left;
    display: inline-block;
    input {
        margin-bottom: 16px;
    }

    .text-field-input {
        display: flex;

        &.has-button {
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .text-field-help {
        color: $gray;
        position: relative;
        bottom: 12px;
    }

    .text-field-error {
        color: $red;
        position: relative;
        bottom: 12px;
    }
}

.text-field-row {
    margin: 0 -.5em;

    .text-field {
        margin: 0 .5em;
    }
}